@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 20px;
}

.nav-link li a{
    margin: 0px 10px;
    font-size: large;
    text-decoration: none;
}

#myself{
    background-color: aquamarine;
}

.mylogo{
    font-size: large;
}