@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 20px;
}

.nav-link li a{
    margin: 0px 10px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(88, 124, 165);
    background-color: violet;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10%;
}

.nav-link li a:hover{
    margin: 0px 10px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 93, 219);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    transition: 300ms;
}
#myself{
}

.mylogo{
    font-size: 35px;
    color: rgb(88, 124, 165);
}

.mypic img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

.mypic {
    display: flex;
    position: relative;
    top: 20vh;
    left: 72vh;
}

.mytitle{
    font-size: 35px;
}

.mypara{
    font-size: 35px;
    position: relative;
    top: 5vh;
    right: 17vh;
}