@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Oswald:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}


nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    line-height: 20px;
}

.nav-link li a{
    margin: 0px 10px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 93, 219);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6%;
}

.nav-link li a:hover{
    margin: 0px 10px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 93, 219);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    transition: 300ms;
}
#myself{
}

.mylogo{
    position: relative;
    right: 160px;
    font-size: 35px;
    color: rgb(25, 93, 219);
}

.mypic img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.mypic {
    display: flex;
    position: relative;
    top: 20vh;
    left: 72vh;
}

.mytitle{
    font-size: 35px;
    margin-top: 41px;
    margin-left: 40px;
}

.mypara{
    font-size: 35px;
    position: relative;
    top: 6vh;
    right: 17vh;
    display: inline-block;
}

.svgs{
    position: relative;
    top: 30vh;
    left:72vh;
}

.wave{
    display: inline-block;
    animation: animate-wave 500ms infinite cubic-bezier(0.42, 0, 0.18, 0.95);
}

@keyframes animate-wave{

0% {
    transform: rotate(0);
}

50% {
    transform: rotate(30deg);
}
100% {
    transform: rotate(0);
}

}


.portfoliocolor{
    text-transform: uppercase;
    color: blue;
}
.frontendcolor{
    color: blue;
    text-transform: uppercase;
}

.picbody{
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}